.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.site-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    align-content: flex-start;
}

.flex-container {
    flex: 1;
    padding: 10px;
}

.flex-container:nth-child(1) {
    margin: 0 2.5px 0 0;
    order: 1;
    height: 318px;
}

.flex-container:nth-child(3) {
    margin: 0 0 0 2.5px;
    order: 3;
    height: 318px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    align-content: flex-start;
    margin: 0 2.5px;
    order: 2;
}

.flex-column > .flex-sub-container {
    flex: 1;
    padding: 10px;
}

.flex-column > .flex-sub-container:nth-child(1) {
    margin-bottom: 2.5px;
    order: 1;
}

.flex-column > .flex-sub-container:nth-child(2) {
    margin-top: 2.5px;
    order: 2;
}

.vbar {
    margin: 0 5px;
}

header, footer, .flex-container, .flex-sub-container {
    background-color: lightgray;
}

header {
    padding-left: 5px;
    margin-bottom: 5px;

}

footer {
    text-align: center;
    padding: 25px;
    margin-top: 5px;
}

footer > a {
    color: black;
}

footer > a:hover {
    color: blue;
}

@media only screen and (max-width: 768px) {
    .site-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: stretch;
        align-content: flex-start;
    }

    .flex-container:nth-child(1) {
        margin: 0 0 2.5px 0 !important;
    }

    .flex-column {
        margin: 2.5px 0 !important;
    }
    
    .flex-container:nth-child(3) {
        margin: 2.5px 0 0 0 !important;
    }

    .flex-sub-container:nth-child(1) {
        margin-bottom: 2.5px !important;
    }

    .flex-sub-container:nth-child(2) {
        margin-top: 2.5px !important;
    }
}